@model FirstMVCProject.Models.FrontModels.UpdateUserFrontModel

 
<form asp-controller="User" asp-action="UpdateUser" method="post">
    <label>First Name</label><br />
    <input id="inputText" type="text" width="250" value="@Model.FirstName" asp-for="FirstName" /><br />
    <label>Last Name</label><br />
    <input id="inputText" type="text" width="250" value="@Model.LastName" asp-for="LastName" /><br />
    <label>Date of Birth (yyyy/mm/dd)</label><br />
    <input id="inputDate" type="text" width="200" value="@Model.DateOfBirth" asp-for="DateOfBirth" /><br />
    <label>Company Id</label><br />
    <input id="inputDate" type="text" width="200" asp-for="CompanyId" /><br />

    <div id="addButton">
        <button id="button" type="submit" class="btn btn-primary">Update User</button>
    </div>



    @if (!String.IsNullOrWhiteSpace(ViewBag.Message))
    {
        <div>
            <label>@ViewBag.Message</label>
        </div>
    }

</form>

<a class="btn btn-info" asp-area="" asp-controller="User" asp-action="Index">Back to Home</a>